<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partials</title>
    <link rel="stylesheet" href="SASSFiles/SASSFile.css">
</head>
<body>
    <p><h3>What are asymptotic notations?</h3>Published on Nov 21, 2019 | Tags: <span>notation, asymptoteds</span>  </p><hr><br>

    <p><h3>What is linear data structure?</h3>Published on Dec 1, 2019 | Tags: <span>Data, linear, structure, straight</span>  </p><hr><br>

    <p><h3>What operations can be performed on stacks?</h3>Published on Jan 2, 2020 | Tags: <span>stacks</span> </p>
</body>
</html>