$BGcolor:lightgray;
$displayType: inline-block;
$hoverClr: red;
$myFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$weight: bold;
$textClr: darkblue;
$answerClr: $hoverClr;
     